{% extends 'blog/base.html' %}

    {% block content %}
        <div class="resumo">
            <h2>Olá! Seja bem vindo ao Random Imgpalper !
            <br> A baixo você verá um breve resumo do site.</h2>
            <div class="linha"></div>
            <br>
            <div class="resumo_p"
                <p> Nesse site é possível encontrar três páginas, as quais apresentam diferentes tipos de conteúdo, sendo elas:</p>
                <br>
                <ul>
                    <li>
                        Posts: Aqui diferentes tipos de conteúdo são postados (sendo mais especifico não pensamos em algo fixo para ser colocado aqui).
                    </li>
                    <br>
                    <li>
                    Curiosidades: É basicamente onde informações inesperadas (e provavelmente estranhas?) são colocadas.
                    </li>
                    <br>
                    <li>
                    Aleatoriedades: É aqui onde o adm (Baiano) posta as imagens, estranhas, confusas e no mínimo peculiares, que ele acha na internet.
                    </li>
                    <br>
                </ul> 
                <p>Esses conteúdo são providenciados pelos dois membros da equipe, Snorlaw e Baiano, mas principalmente pelo Baiano.</p>
            </div>
        </div>
    {% endblock %}